.footer-component {
  background: linear-gradient(76.02deg, #ff9d2d 1.66%, #ffd877 93.21%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 37px 70px;

  @media screen and (max-width: 500px) {
    align-items: unset;
    padding: 15px 20px;
  }

  &-left {
    flex: 1 0 0;
    display: flex;
    align-items: center;
    gap: 41px;

    @media screen and (max-width: 500px) {
      align-items: unset;
      gap: 12px;
    }

    &-logo {
      height: 62px;
    }

    &-text {
      font-family: "Kodchasan-medium";
      font-size: 18px;
      line-height: 29px;
      color: rgba(0, 0, 0, 0.8);
      opacity: 0.7;
      word-spacing: 1px;

      @media screen and (max-width: 500px) {
        font-size: 16px;
      }
    }
  }

  &-center {
    flex: 1 0 0;
    display: flex;
    align-items: center;
    gap: 19px;

    @media screen and (max-width: 500px) {
      flex-direction: column;
      align-items: unset;
      gap: 6px;
    }

    &-item {
      font-family: "Kodchasan-medium";
      font-size: 18px;
      line-height: 23px;
      color:rgba(0, 0, 0);
      white-space: nowrap;

      @media screen and (max-width: 500px) {
        font-size: 16px;
      }

      &:hover {
        opacity: 0.8;
      }

      &.active {
        font-family: "Kodchasan-bold";
      }
    }
  }

  &-right {
    flex: 1 0 0;
    display: flex;
    align-items: center;
    gap: 53px;
    justify-content: flex-end;

    @media screen and (max-width: 500px) {
      gap: 16px;
      align-items: unset;
    }
  }
}
