* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Kodchasan-regular", sans-serif;
  font-size: 16px;
}

#root {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.container {
  max-width: 1200px;
}

ul {
  list-style-type: none;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Kodchasan-bold";
  src: url(./assets/fonts/Kodchasan-Bold.ttf);
}

@font-face {
  font-family: "Kodchasan-bold-italic";
  src: url(./assets/fonts/Kodchasan-BoldItalic.ttf);
}

@font-face {
  font-family: "Kodchasan-extralight";
  src: url(./assets/fonts/Kodchasan-ExtraLight.ttf);
}

@font-face {
  font-family: "Kodchasan-extralight-italic";
  src: url(./assets/fonts/Kodchasan-ExtraLightItalic.ttf);
}

@font-face {
  font-family: "Kodchasan-regular-italic";
  src: url(./assets/fonts/Kodchasan-Italic.ttf);
}

@font-face {
  font-family: "Kodchasan-light";
  src: url(./assets/fonts/Kodchasan-Light.ttf);
}

@font-face {
  font-family: "Kodchasan-light-italic";
  src: url(./assets/fonts/Kodchasan-LightItalic.ttf);
}

@font-face {
  font-family: "Kodchasan-medium";
  src: url(./assets/fonts/Kodchasan-Medium.ttf);
}

@font-face {
  font-family: "Kodchasan-medium-italic";
  src: url(./assets/fonts/Kodchasan-MediumItalic.ttf);
}

@font-face {
  font-family: "Kodchasan-regular";
  src: url(./assets/fonts/Kodchasan-Regular.ttf);
}

@font-face {
  font-family: "Kodchasan-semibold";
  src: url(./assets/fonts/Kodchasan-SemiBold.ttf);
}

@font-face {
  font-family: "Kodchasan-semibold-italic";
  src: url(./assets/fonts/Kodchasan-SemiBoldItalic.ttf);
}