.productSoldWrapper {
  background: linear-gradient(76.02deg, #f46a8e 1.66%, #fdcad7 93.21%);
  border: 1px solid #ff6f95;
  padding: 47px 32px;
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
  max-height: 304px;
  position: relative;
  border-radius: 15px;

  @media screen and (max-width: 500px) {
    padding: 20px 18px;
    gap: 15px;
  }
}

.iconWrapper {
  position: absolute;
  top: -48px;
  right: -48px;
  z-index: 2;

  @media screen and (max-width: 500px) {
    top: -40px;
    right: -20px;
    width: 64px;
  }
}

.leftContentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  flex: 2 0 0;

  @media screen and (max-width: 500px) {
    flex: 1 0 0;
    gap: 10px;
  }
}

.title {
  font-family: "Kodchasan-semibold";
  font-size: 28px;
  line-height: 39px;
  color: #ffffff;

  @media screen and (max-width: 500px) {
    font-size: 18px;
    line-height: 22px;
  }
}

.description {
  font-family: "Kodchasan-semibold";
  font-size: 16px;
  opacity: 0.9;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 4.8em;
  line-height: 1.6em;
  width: 100%;
  color: #ffffff;

  @media screen and (max-width: 500px) {
    font-size: 14px;
    margin-bottom: 5px;
  }
}

.actionButton {
  border: 1.5px solid #ffffff;
  padding: 5px 30px;
  width: fit-content;
  font-family: "Kodchasan-bold";
  font-size: 18px;
  line-height: 29px;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;

  @media screen and (max-width: 500px) {
    padding: 5px 15px;
    font-size: 14px;
    line-height: 22px;
  }

  &:hover {
    opacity: 0.8;
  }
}

.rightContentWrapper {
  width: 100%;
  height: 100%;
  flex: 1 0 0;
}

.imageWrapper {
  width: 100%;
  height: 100%;
  object-fit: cover;
}